.input-container {
    padding: 10px 0px;
}

input {
    margin-top: 3px;
    width: 100%;
    height: 40px;
    padding: 5px 0px 5px 10px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    font-size: 14px;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3.5px rgba(34, 133, 245, 0.3);
    border: 2px solid rgb(34, 133, 245);
}

label {
    font-size: 16px;
}
