.button-container {
    width: 100%;
    height: 34px;
    margin-top: 20px;
}

.button-container button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(34, 133, 245);
    transition: opacity ease 0.15s;
}

.button-container button:hover {
    opacity: 0.85;
}

.button-container button:active {
    opacity: 0.6;
}
