.signup {
    width: 100%;
    height: 100%;
}

.signup .card {
    width: 40%;
}

@media (max-width: 1000px) {
    .signup .card {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .signup .card {
        width: 75%;
    }
}
