.signup__card {
    width: 40%;
    padding: 40px;
}

.signup {
    width: 100%;
    height: 100%;
}

.signup h2 {
    font-size: 36px;
    line-height: 36px;
}

.signup p {
    margin-top: 18px;
    text-align: center;
}

@media (max-width: 1200px) {
    .signup__card {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .signup__card {
        width: 75%;
    }
}
