.signup {
    width: 100%;
    height: 100%;
}

.signup__card {
    width: 40%;
}

@media (max-width: 1200px) {
    .signup__card {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .signup__card {
        width: 75%;
    }
}
