@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/');
    src: url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}

html,
body,
#root {
    height: auto;
    min-height: 100dvh;
}

main {
    flex: 1;
    background-color: rgba(34, 133, 245, 0.05);
}

a {
    color: rgb(34, 133, 245);
}

a:hover {
    opacity: 0.8;
}

button:hover,
a:hover {
    cursor: pointer;
}

.error-message {
    margin: 10px 0px;
    color: rgb(253, 111, 107);
    text-align: center;
}

.max-width {
    width: 100%;
}

.max-height {
    height: 100%;
}

.flex-container {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
