@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/');
    src: url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: auto;
    min-height: 100dvh;
}

main {
    width: 100%;
    flex: 1;
    background-color: rgb(255, 255, 255);
}

.flex-container {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
